body {
    font-family: Arial, sans-serif;
    background-color: #f8d3e0;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #d5006d;
}

main {
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}
